<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo_resposta.css"  rel="stylesheet">
</head>
<body>
    
    <input type="submit" value="Post">

<p><%= nome %> </p>
<p><%= sobrenome %> </p>
<p><%= x %> </p>




</body>
</html>