*{
    margin: 0%;
}

.fundo{
    bottom: 0;
}
.foguete{
    top: 0%;
}
.espaco {
    position: relative;
}
.fundo {
   position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.foguete {
    padding-left: 1200px;
    padding-top: 200px;
    position: absolute;
    width: 600px;
    z-index: 1;
}

@font-face {
    font-family: 'pixel';
    src: url('Pixel\ Emulator.otf');
}
.nome{
    position: absolute;
    z-index: 1;
    font-size: 80px;
    font-family: 'pixel';
    color: yellow;
    text-shadow: 6px 6px 0 black;
    padding-left: 410px;
    padding-top: 280px;
    
}
.lista{
    position: absolute;
    z-index: 1;
    list-style: none;
    padding-left: 600px;
    padding-top: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    text-decoration: none;
    color: yellow;
    font-family: 'pixel';
    font-size: 45px;
    text-shadow: 5px 5px 0 black;
}
