.lamp_bulb::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: transleX(-50%);
    border-top-left-radius: 53px 115px;
    border-top-right-radius: 53px 115px;
    border: 1px solid white; border-top: 1px solid white;
    border-bottom: none;
    height: 25px;
    width: 38px;
    background-color: inherit;
}