<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
<link href="estilo_resposta.css"  rel="stylesheet">
</head>
<body>
<h1>Resposta para o usuário:</h1>

<p>Login: <%= nome %> </p>
<p>Senha: <%= sobrenome %> </p>


</body>
</html>